# Postgrest config
PGRST_IMAGE=postgrest/postgrest

# Postgrest OIDC config
PGRST_JWT_CERT_URL=
PGRST_JWT_CLAIM_KEY=email

# Database
DEFAULT_HOST=postgres
DEFAULT_PORT=5432

DATABASE_NAME_PREFIX=self-service-api

# K8s config
K8S_NAMESPACE=self-service-api

# Help
HELP_URL=

# Deployment
DEPLOY_MODE=nodePort
DEPLOY_PROTOCOL=http

# Deployment - NodePort
NODEPORT_EXTERNAL_ADDRESS=

# Deployment - Ingress
INGRESS_DOMAIN=