# PostgREST image
PGRST_IMAGE=postgrest/postgrest

# Optional OIDC configuration
PGRST_JWT_CERT_URL=
PGRST_JWT_CLAIM_KEY=email

# Default database values shown in UI
DEFAULT_HOST=postgres
DEFAULT_PORT=5432
DEFAULT_READ_ONLY=false

# Prefix for deployed resources
DATABASE_NAME_PREFIX=self-service-api

# Kubernetes namespace
K8S_NAMESPACE=default

# Optional help link
HELP_URL=

# URL protocol used in generated endpoints
DEPLOY_PROTOCOL=http

# ---- Node Port deployment ----
DEPLOY_MODE=nodePort

# Optional external address of the cluster
# If empty the node IP will be used
NODEPORT_EXTERNAL_ADDRESS=

# ---- Ingress deployment ----
DEPLOY_MODE=ingress

# Base domain used for generated APIs
INGRESS_DOMAIN=subdomain.example.com